<div id="navbar" class="c-navbar">
    <ul class="c-navbar-inner">
        {% for item in navLinks %}

            {% liquid
                if item.url | currentPage: page.url
                    assign a_cls = "c-navbar-link is-current"
                else
                    assign a_cls = "c-navbar-link"
                endif
            %}

            <li>
                <a href="{{ item.url }}" title="{{ item.text }}" class="{{ a_cls }}" {{ item.url | linkActive: page.url
                    }}>{{ item.text }}</a>
            </li>
        {% endfor %}
    </ul>
</div>