---
layout: default
title: Mes parties de jeux de rôle
pagination:
    data: plays
    size: 1
    alias: play
permalink: "plays/{{ play.slug }}/"
---
{% assign game = play.game %}

<article class="c-play">
    <div class="c-play-inner">
        <h1>{{play.title}}</h1>

        <div class="c-play-intro">
            <div>
                <article>
                    <header>
                        <a href="{{game.page}}" title="">{{game.title}}</a> est jeu créé par <a href="{{game.profile}}" title="">{{game.creator}}</a>, disponible sur <a href="{{game.page}}" title="Lien vers la page itch.io de {{game.title}}">itch.io</a>
                    </header>
                    <hr class="border-gray-300">
                    <div class="main">{{play.opinion}}</div>
                </article>
            </div>
        </div>
        
        {% capture v %}./core/_includes/content/plays/{{play.slug}}.md{% endcapture %}
        {% renderFile v %}

    </div>
</article>